/* version 0.4 jun 2011 */

body {
   font-family: Verdana, Arial, sans-serif;
   font-size: 14px;
   float: left;
   margin-left: 80px;
}

#wrap {
   float: top;
   font-size: 12px;
   color: black;
   padding: 2px;
   width: 80%;
   min-width: 780px;
}


#item_note_box {
   clear: both;
   float: top;
   position: relative;
   top: 8px;
   padding: 10px;
   color: black;
   font-family: Arial;
   font-size: 1.1em;
   border: solid;
   width: 480px;
   border-width: 1px;
   border-color: #6699CC;
}

#item_map_box {
   clear: both;
   float: top;
   position: relative;
   top: 8px;
   padding: 10px;
   color: black;
   font-family: Arial;
   font-size: 0.8em;
   border: solid;
   width: 308px;
   border-width: 1px;
   border-color: #66CC99;
}

#hilight {
    background-color: #99FFCC;
    display: inline;
    margin: 0;
	padding: 1px;
}

#item_note_box .update {
    background-color: #CCFF66;
    padding: 2px;
}

#gmap {
    width: 710;
    height: 300px;
}

input.btn {
  background-color: #FF6666; 
}

input.btn_commit {
  background-color: #EE0000;
  border: 2px;
  border-color: #000000; 
}

input.map {
  background-color: #CCFF66; 
}
